.imageWrapper {
    text-align: center;
    margin: 20px 0;
}

.imageWrapper img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.caption {
    font-size: 0.9em;
    color: #666;
    text-align: center;
    margin-top: 8px;
    display: inline-block;
    font-style: italic;
}

.youtubeWrapper {
    text-align: center;
    margin: 20px 0;
}

.youtubeWrapper iframe {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.youtubeWrapper_hint {
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-top: 8px;
    display: inline-block;
}

h1 {
    font-size: 30px;
}

h2 {
    line-height: 1.2;
}

h3 {
    line-height: 1.2;
}

h4 {
    font-size: 20px;
}

.highlight pre {
  overflow-x: auto !important;
  white-space: pre !important;
  word-wrap: normal !important;
  overflow-wrap: normal !important;
  padding: 1em;
  border-radius: 6px;
  width: 100% !important;
  box-sizing: border-box;
}

.highlight code {
  white-space: pre !important;
  line-height: 1.6;
}
