.imageWrapper {
    text-align: center;
    margin: 20px 0;
}

.imageWrapper img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.caption {
    font-size: 0.9em;
    color: #666;
    text-align: center;
    margin-top: 8px;
    display: inline-block;
    font-style: italic;
}

.youtubeWrapper {
    text-align: center;
    margin: 20px 0;
}

.youtubeWrapper iframe {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.youtubeWrapper_hint {
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-top: 8px;
    display: inline-block;
}

h1 {
    font-size: 30px;
}
